<!-- ######## pagination ########### -->
<ul class="pagination text-center" role="navigation" aria-label="Pagination">
  <li class="pagination-previous disabled">Previous <span class="show-for-sr">page</span></li>
  <li class="current"><span class="show-for-sr">You're on page</span> 0-10</li>
  <li><a href="#" aria-label="Page 2">11-20</a></li>
  <li><a href="#" aria-label="Page 3">21-30</a></li>
  <li><a href="#" aria-label="Page 4">31-40</a></li>
  <li class="ellipsis" aria-hidden="true"></li>
  <!-- <li><a href="#" aria-label="Page 12">41-50</a></li>
  <li><a href="#" aria-label="Page 13">51-60</a></li> -->
  <li class="pagination-next"><a href="#" aria-label="Next page">Next <span class="show-for-sr">page</span></a></li>
</ul>

<!-- ######## pagination ########### -->


<h1>Recipes</h1>
<div class="row small-up-1 medium-up-2 large-up-3">
  <% @your_recipes.each do |recipe| %>
    <div class="column imageborder">
      <%= link_to image_tag(recipe.image, :title => recipe.label, :alt => recipe.label), show_path(recipe.uri) %>
      <h4 class="subheader"><%= link_to recipe.label, show_path(recipe.uri) %></h4>
    </div>
  <% end %>
</div>



<!-- ########## script for "back to top" button ############### -->
<div id="back-top">
  <a href="#"> BACK TO TOP </a>
</div>

  <script>
  $(document).ready(function(){

    // hide #back-top first
    $("#back-top").hide();

    // fade in #back-top
    $(function () {
      $(window).scroll(function () {
        if ($(this).scrollTop() > 100) {
          $('#back-top').fadeIn();
        } else {
          $('#back-top').fadeOut();
        }
      });

      // scroll body to 0px on click
      $('#back-top .fi-arrow-up').click(function () {
        $('body,html').animate({
          scrollTop: 0
        }, 800);
        return false;
      });
    });

  });
  </script>
<!-- ########### script for "back to top" button ############### -->
