// Place all the styles related to the homepages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  @import url('foundation.css');


.calories{
  display: inline-block;
}

.index-search{
  width: 80%;
  vertical-align: middle;
  height: 50px;
  border: 1px solid red;
}

h1{
  text-align: center
}
