// Place all the styles related to the homepages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  @import url('foundation.css');

.index-search{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.center {
  display: flex;
  justify-content: center;
  width: 100%;
}

.content {
  position: relative;
  top: 30%;
}

#search-box {
  width: 80%;
  text-align: center;
}

.title {
  cursor: default;
  color: #FF6D00;
  text-align: center;
}

.the-footer{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
}

.frontpage{
  background-image: url("cook.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.recipe-title{
  text-align: center;
}

.next-previous-button{
  background-color: #FAFAFA;
}
